/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 400;
}

a:hover {
  color: var(--primary);
}
